a {
  &:hover {
    text-decoration: none;
    color: white;
  }
  color: white;
}
body {
  font-family: 'Lato', sans-serif ;
  position: relative;
}
ul, ol, p {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

* {
  margin: 0;
}

img {
  max-width: 100%;
}

.btn {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  width: 391px;
  height: 54px;
  background: rgb(60, 60, 60);
  font-size: 16px;
  line-height: 1.2;
  cursor: pointer;
  transition: width 4s, height 4s, transform 2s;
  &:hover {
    border: none;
    background: linear-gradient(to right, rgb(201, 147, 60) , rgb(217, 176, 118));
  }
  @media #{$info-phone} {
    width: 300px;
  }
  @media #{$info-phone-4} {
    width: 180px;
    height: 40px;
  }
}