.header {
  .header-slick {
    .slick-item {
      position: relative;
      z-index: 36;
      img {
        width: 100%;
        height: 1072px;
        object-fit: cover;
        @media #{$info-phone} {
          height: 715px;
        }
      }
    }

  }

  &__content {
    position: absolute;
    z-index: 40;
    top: 286px;
    width: 100%;
    @media #{$info-phone} {
      top: 190px;
    }
    @media #{$info-phone-4} {
      top: 190px;
    }
  }

  &__wrap {
    margin: auto;
    width: fit-content;

    @keyframes wheel {
      to {
        opacity: 0;
        top: 40px;
      }
    }
    @media #{$info-phone-4} {
      @keyframes wheel {
        to {
          opacity: 0;
          top: 20px;
        }
      }
    }
    @keyframes down {
      0% {
        transform: translate(0);
      }
      20% {
        transform: translateY(15px);
      }
      40% {
        transform: translate(0);
      }
    }

  }
  //&__img {
  //  transition: width 2s, height 2s, transform 2s;
  //  &:hover {
  //    transform: translateY(65px);
  //  }
  //  @media #{$info-phone-4} {
  //    width: 15px;
  //    height: 25px;
  //  }
  //}
  &__item {
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    @media #{$info-phone} {
      width: auto;
      padding: 0 10px;
    }
    h1 {
      font-size: 54px;
      font-weight: bold;
      margin-bottom: 32px;
      letter-spacing: 5.2px;
      white-space: pre-line;
      @media #{$info-phone} {
        font-size: 25px;
        margin-bottom: 21px;
      }
      @media #{$info-phone-4} {
        width: auto;
      }
    }
    p {
      font-size: 15px;
      font-weight: revert;
      line-height: 1.933;
      margin-bottom: 250px;
      white-space: pre-line;
      @media #{$info-phone} {
        font-size: 12px;
        width: auto;
        margin-bottom:145px;
      }
      @media #{$info-phone-4} {
        margin-bottom: 130px;
      }
    }
  }
  &__mouse {
    width: 23px;
    height: 39px;
    border: 2.5px solid #ffffff;
    border-radius: 50px;
    position: relative;
    animation: down 1.5s infinite;
    display: block;
    margin-left: auto;
    margin-right: auto;
    &:before{
      content: '';
      width: 6px;
      height: 6px;
      position: absolute;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #ffff;
      border-radius: 50%;
      opacity: 1;
      animation: wheel 2s infinite;
    }
    @media #{$info-phone-4} {
      width: 15px;
      height: 25px;
    }
  }

  &__img {
    margin-bottom: 84px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    @media #{$info-phone} {
      margin-bottom: 56px;
    }
    @media #{$info-phone-4} {
      width: 42px;
      height: 50px;
    }
  }

  .slick-dots {
    display: none !important;
  }

}